html {
  font-size: 62.5%; /*10 / 16 = 62.5  rem定义*/
}
body {
    font:17px "microsoft yahei",Arial,Helvetica,sans-serif;
    color:#000000;
    margin:0;
    padding:0;
    line-height: 1;
}
ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {
    margin:0;
    padding:0;
    list-style:none;
}

a {
  color:#1f2d3d;
  text-decoration:none;
  &:hover {
    color:#545450;
    text-decoration:none;
  }
  &:focus {
    color: #545450;
    text-decoration: none;
  }
}
img {
  vertical-align:middle;
  max-width: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.div-top {
  margin-top: 10px;
}

/*适配*/
@media only screen and (min-width: 320px) {
  html {
    font-size: 62.5% !important;
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 125% !important;
  }
}
@media only screen and (min-width: 750px) {
  html {
    font-size: 150% !important;
  }
}
@media only screen and (min-width: 1242px) {
  html {
    font-size: 187.5% !important;
  }
}
